@model Yummy.Web.ViewModels.Recipes.RecipesListViewModel
@{
    this.ViewData["Title"] = "Recipes and page " + Model.CurrentPage;
}
<h1>@this.ViewData["Title"]</h1>

<div class="row">
    @foreach (var recipe in Model.Recipes)
    {

        <div class="media col-md-4">
            <img class="mr-3" src="~/@recipe.ImageUrl" width="100" alt="...">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="ById" asp-route-id="@recipe.Id">@recipe.Name</a></h5>
                @recipe.CategoryName
            </div>
        </div>
        <div>
            <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@recipe.Id">Edit</a>
        </div>
    }
</div>

<hr />
<partial name="_PagingPartial" model="@Model"/>
