@using Yummy.Common
@model Yummy.Web.ViewModels.Home.IndexViewModel
 
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    
    <div class="col-md-4">       
        <p>All models count using repository in the controller:</p>
        <ul class="offset-md-4 list-group">
            <li class="bg-light list-group-item">Ingredients: @Model.IngredientsCount</li>
            <li class="bg-info list-group-item">Categories: @Model.CategoriesCount</li>
            <li class="bg-primary list-group-item">Images: @Model.ImagesCount</li>
            <li class="bg-danger list-group-item">Recipes: @Model.RecepiesCount</li>            
        </ul>
    </div>
</div>
